---
# file: flink/tasks/main.yml
- name: configure Flink app
  template:
    src: config.yaml
    dest: "{{ flink_app_config_path }}"

- name: check Flink app (jar)
  stat:
    path: "{{ flink_app_jar_path }}"
  register: flinkAppJar

#- name: start Flink app
#  shell: "{{ flink_home }}/bin/flink run {{ flink_app_jar_path }} --config {{ flink_app_config_path }} &"
#  when: flinkAppJar.stat.exists
