<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>crimegraph</title>
</head>
<body>
  crimegraph
  <a href="/flink" target="_blank">Flink</a>
  <a href="/neo4j" target="_blank">Neo4J</a>
</body>
<script>
/*
var saveData = JSON.parse(localStorage.saveData || null) || {};

// Store your data.
function saveStuff(obj) {
    saveData.obj = obj;
    // saveData.foo = foo;
    saveData.time = new Date().getTime();
    localStorage.saveData = JSON.stringify(saveData);
}

// Do something with your data.
function loadStuff() {
    return saveData.obj || "default";
}

if (saveData.time) alert("You were here: " + saveData.time);

saveStuff("Stuff");
*/
</script>
</html>
